.container {
  margin: 0 auto;
  width: 60%;
  height: auto;
  background-color: lightgray;
  color: black;
  padding: 10px;
}

h1 {
  text-align: center;
  color: blue;
}

#qform {
  margin: 0 auto;
  width: 80%;
  background-color: whitesmoke;
  padding: 15px;
}

#grade,
#progress {
  margin: 0 auto;
  width: 80%;
  height: 100px;
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

meter,
progress {
  -webkit-appearacne: none;
  width: 500px;
  height: 100%;
  padding: 10px;
}

input[type="text"] {
  display: inline-block;
  background-color: white;
}
